.footer {
  width: 100%;
  display: block;
  padding: 2rem 1rem;
  background: rgba(21, 24, 33, 0.282);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-top: 2px solid #482d6358;
  margin-top: 4rem;
}

.footer-content {
  max-width: 20rem;
  margin: 0 auto;
  text-align: center;
  color: #eaeaea;
}

.footer-info {
  font-size: 1rem;
  font-weight: 700;
  color: #2fffbd;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1px;
}

.footer-links a {
  color: #eaeaea;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.2s ease;
  margin-bottom: 2rem;
}

.footer-links a:hover {
  color: #3bff7c;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.footer-icons svg {
  color: #eaeaea;
  transition:
    color 0.2s ease,
    transform 0.2s ease;
}

.footer-icons svg:hover {
  color: #c11ff2;
  transform: translateY(-3px);
}

.footer-copy {
  font-size: 0.9rem;
  opacity: 0.7;
}
