section.hero {
  margin-top: 1rem;
  padding-top: 5rem;
  padding-bottom: 6rem;
  min-height: 80vh;
}

h1.myName {
  font-weight: bold;
  color: rgb(172, 0, 251);
  font-size: 3rem;
  font-size: clamp(1.5rem, 2vw + 1rem, 3rem);
  white-space: nowrap;
}

h2.title {
  font-weight: 500;
  font-size: 2rem;
  font-size: clamp(1rem, 1vw + 1rem, 2rem);
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5rem auto;
  font-size: clamp(1rem, 1vw + 0.5rem, 1.25rem);
}

.hero-text {
  padding: 1rem;
  flex: 1;
  justify-content: left;
  background-color: #0000007c;
  border: 3px solid transparent;
  border-image: linear-gradient(#00ff8c, #932df9) 1;
  margin-left: clamp(1rem, 10vw, 5rem);
  box-shadow: inset 0 0 10px #39b97f, inset 0 0 18px #7122c1;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: right;
  padding-right: clamp(1rem, 10vw, 10rem);
  color: rgba(rgba(255, 114, 114, 0), green, blue, alpha);
}

.hero-image img {
  max-width: 15rem;
  height: auto;
  object-fit: cover;
  border: 4px double #932df9;
  filter: drop-shadow(0 0 10px #932df9);
  border-radius: 10%;
  transition: box-shadow 0.3s ease;
}

.hero-image img:hover,
.hero-image img:focus {
  box-shadow: 0 0 5px #a851ff, 0 0 10px #ffffff, 0 0 15px #cc55f8;
}

.skills {
  padding: 1rem;
  color: white;
  justify-content: center;
}

.skills h3 {
  text-align: center;
  font-size: 0.75rem;
}

.skills-grid {
  display: flex;
  justify-content: left;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.skills-grid > * {
  white-space: nowrap;
}

.skills-grid > div {
  background-color: #111;
  border: 2px solid #41f92d;
  border-radius: 10px;
  padding: 0.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skills-grid > div:hover {
  box-shadow: 0 0 5px #41f92d, 0 0 10px #ffffff;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  section.hero {
    padding-top: 1rem;
    padding-bottom: 0rem;
  }

  h1.myName {
    font-weight: bold;
    color: rgb(172, 0, 251);
    font-size: 2rem;
  }

  .hero-text {
    order: 2;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 0rem;
  }

  .hero-image {
    order: 1;
    justify-content: center;
    align-items: center;
    padding: 0rem;
  }

  .hero-image img {
    max-width: 15rem;
  }

  .skills-grid {
    justify-content: center;
  }
}
