.testimonials-section {
  background-color: #0000007c;
  padding: 2rem;
  text-align: center;
  max-width: 85rem;
  margin: 5rem auto;
  box-shadow: inset 0 0 15px #932df9;
  border: 3px solid #932df9;
}

.section-title {
  margin-bottom: 3rem;
  font-weight: 700;
  color: rgb(172, 0, 251);
  font-size: clamp(2rem, 2vw + 1rem, 3rem);
  white-space: normal;
}

.note {
  font-size: 1.5rem;
  font-weight: normal;
}

.testimonials-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
}

.testimonial-card {
  background: rgba(255, 255, 255, 0.05);
  padding: 1rem;
  border-radius: 0.25rem;
  backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
  display: flex;
  flex-direction: column;
}

.testimonial-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 255, 55, 0.416);
}

.testimonial-text {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #eaeaea;
  margin-bottom: 2rem;
}

.author-wrapper {
  margin-top: auto;
}
.testimonial-author {
  font-size: 1rem;
  font-weight: 600;
  color: #00ff62;
}

.testimonial-author-job {
  font-size: 1rem;
  font-weight: 600;
  color: #87cea2;
}
